.question-sample {
    background: #fff url('./questions/sample.png');
    background-size: cover;
    width: 1200;
    height: 675;
}

.question-masterchef {
    background: #fff url('./questions/masterchef.png');
    background-size: cover;
    width: 1200;
    height: 675;
}

.question-last {
    background: #fff url('./questions/last.png');
    background-size: cover;
    width: 1200;
    height: 675;
}